@using System.Collections
@model  Repository.Entities.QuestionEntity
@{
    ViewBag.Title = "Index";
}

<h2>Select Test Type</h2>
@using (Html.BeginForm("Index", "TakeTest", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("QuestionTypeEntityId", "Select")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Minimum  @Html.LabelFor(x => x.DifficultyLevel)
              @*  @Html.TextBoxFor(x => x.DifficultyLevel)*@
                 @Html.DropDownList("DifficultyLevel", String.Empty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start Test" class="btn btn-default" />
            </div>
        </div>
    </div>
}