@model Repository.Entities.QuestionTypeEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionTypeEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<div>
    @if (Model.QuestionEntities != null && Model.QuestionEntities.Count > 0)
    {
        <h1>Question Titles:</h1>
        <ul>
            @foreach (var item in Model.QuestionEntities)
            {
                <li>@item.Title</li>
            }
        </ul>
    }
    else
    {
        <h1>No Questions</h1>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
